html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    background-color: $violet;
    background-image: url('/images/bg-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 40px 50px 40px;
    color: $white;
    font-family: $font-body;

    // desktop
    @media screen and (min-width: 1024px){
        background-image: url('/images/bg-desktop.svg');
        padding: 60px 80px 40px 80px;
    }
}

header {
    margin-bottom: 70px;
    @media screen and (min-width: 1024px) {
        margin-bottom: 100px;
    }

    img {
        width: 120px;

        @media screen and (min-width: 1024px) {
            width: 200px;
        }
    }
}

main {
    margin-bottom: 60px;
    @media screen and (min-width: 1024px){
        margin-bottom: 16px;
        display: grid;
        grid-template-columns: repeat( 2, minmax(250px, 1fr));
    }
}

.mainImage {

    @media screen and (max-width: 1023px){
        margin-bottom: 70px;
    }

    img {
        width: 100%;
    }
    
}

h1 {
    margin: 40px 0 20px 0;
    font-family: $font-title;
    font-size: 24px;
    line-height: 1.5;

    @media screen and (min-width: 1024px){
        font-size: 32px;
        line-height: 1.3;
    }

}

.mainText {
    text-align: center;
    line-height: 1.75;

    @media screen and (min-width: 1024px){
        padding-left: 40px;
        text-align: left;
    }

}

//not working?
/*
a, a:vistied {
    text-decoration: none;
}
*/

.button {
    display: inline-block;
    position: relative;
    margin-top: 26px;
    padding: 16px;
    min-width: 250px;
    text-align: center;
    text-decoration: none;
    background: $white;
    color: $violet;
    line-height: 1;
    border-radius: 50px;
    box-shadow: 5px 5px 10px darken($violet, 20%); //left-right, up-down, dissolve, color
    transition: color 200ms ease-in-out;
    cursor: pointer;

    @media screen and (min-width: 1024px){
        padding: 20px 66px;
        min-width: 200px;

    }
    &:hover {
        background-color: $soft-magenta;
        color: $white;
    }
} 

footer {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1024px){
        justify-content: flex-end;
    }
    
    > a {
        margin-right: 16px;
        transition: transform 200ms ease-in-out;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            transform: translateY(-3px);
        }

    }

    i.fa-brands {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $white;
        border-radius: 50px;
        width: 48px;
        height: 48px;
        color: $white;
        transition: color 100ms ease-in-out;

        &:hover {
            border-color: rgb(238, 94, 202);
            color: rgb(238, 94, 202);
        }
    }
}